h1 {
    text-align: center
}

body {
    background-color: #dfdfdf;
    color: #000000;
    font-size: 14pt;
    font-family: 'Ubuntu', sans-serif;

    margin-left: auto;
    margin-right: auto;
    width: 42em
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

nav ul {
    padding-left: 0;
    width: 100%;
    margin-bottom: 5rem;
    list-style: none;
    display: flex;
    justify-content: center
}

nav ul li {
    padding: .5rem;
    display: inline;
    min-width: 15%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400
}

nav ul li:nth-child(1) {
    border-bottom: 4px solid #000000
}

nav ul li:nth-child(2) {
    border-bottom: 4px solid #000000
}

nav ul li:nth-child(3) {
    border-bottom: 4px solid #000000
}

link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
  
visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}